<div class="w-10/12 mx-auto my-2 ">
    <h2 class="text-main">Register Now :</h2>

    <form class="mt-6" [formGroup]="loginForm" (ngSubmit)="sendData()" >

        @if (errorMessage) {
            <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            Error : {{ errorMessage }}
            </div>
        }
     
        <div class="my-3">
            <label for="email">Email :</label>
            <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2" formControlName="email">
            
            @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if (loginForm.get('email')?.getError('required')) {
                        <p>Email is requird </p>
                    }
                    @else if (loginForm.get('email')?.getError('email')) {
                        <p>Email Invalid  </p>
                        
                    }
                    
                </div>

            }


        </div>
        
        
        <div class="my-3">
            <label for="password">Password:</label>

            <div class="input-container">
            <input #pass type="password" id="password" class="w-full rounded-lg border-gray-500 mt-2 mb-3" formControlName="password">
            <i class="fa-regular fa-eye" [class.hidden]="show" (click)="(pass.type='text') ; show=true"></i>
            <i class="fa-solid fa-eye-slash " [class.hidden]="!show" (click)="(pass.type='password'); show=false"></i>
            </div>

            @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if (loginForm.get('password')?.getError('required')) {
                        <p>password is requird </p>
                    }
                    @else if (loginForm.get('password')?.getError('pattern')) {
                        <p>password Invalid  </p>
                        
                    }
                    
                </div>
            }
            
            
            <div>
                <a routerLink="/forgetpassword" class="text-main ">
                    Forget Password ? 
                </a>
            </div>
            </div>
        
        
        
            <div >
                <a routerLink="/rgister" >
                    <span>Don't have an account ?</span>
                    <span class="font-semibold text-main"> Sign up now!</span>
                </a>
            </div>
            
        <button class="btn-main block ms-auto py-2" [disabled]="loginForm.invalid">
            Register
            @if (isLoading) 
            {
                <i class="fa-solid fa-spin fa-spinner"></i>
            }
        </button>
    </form>
</div>



