
<div class="w-full lg:w-3/4 mx-auto flex flex-col lg:flex-row items-start lg:items-center">

    <div class="w-full lg:w-1/4 p-5">
        <owl-carousel-o [options]="customOptions">
            @for (img of myProduct?.images; track $index) {
                <ng-template carouselSlide>
                    <img [src]="img" [alt]="myProduct.title" [title]="myProduct.title" class="w-full">
                </ng-template>
            }
        </owl-carousel-o>
    </div>

    <div class="w-full lg:w-3/4 p-5">
        <h2 class="font-bold text-xl lg:text-2xl">{{myProduct?.title}}</h2>
        <p class="py-3 text-gray-500">{{myProduct?.description}}</p>
        <h3 class="text-lg font-semibold">{{myProduct?.category?.name}}</h3>

        <div class="flex justify-between py-2">
            <span class="text-lg font-bold">{{myProduct?.price}} EGP</span>
            <span class="flex items-center">
                <i class="fa-solid fa-star rating-color"></i>
                <span class="ml-1">{{myProduct?.ratingsAverage}}</span>
            </span>
        </div>

        <button class="btn-main w-full py-2 mt-4" (click)="addToCart(myProduct._id)">
            @if (isLoading) {
                <i class="fa-solid fa-spinner fa-spin"></i>
            }
            @if (!isLoading) {
                + Add to cart
            }
        </button>
    </div>

</div>
