
@if (!isCodeForm && !isResetForm) {
    <div class="w-3/4 mx-auto">

        <h3 class="text-main">Send Your Email :</h3>
        <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">

            @if (errorMessage) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                Error : {{ errorMessage }}
                </div>
            }
         


            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" class="w-full rounded-lg border-gray-500 mt-2 mb-3" formControlName="email">
            </div>

            @if(emailForm.get('email')?.errors && emailForm.get('email')?.touched){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if (emailForm.get('email')?.getError('required')) {
                        <p>Email is requird </p>
                    }
                    @else if (emailForm.get('email')?.getError('email')) {
                        <p>Email Invalid  </p>
                        
                    }
                    
                </div>

            }


            <button type="submit" [disabled]="emailForm.invalid" class="btn-main my-2">Verify
                @if (isLoading) {
                    <i class="fa fa-spin fa-spinner"></i>
                }
            </button>
            
            
        </form>
    
    </div>
    
}


@if (isCodeForm) {
    <div class="w-3/4 mx-auto">

        <h3 class="text-main">Send Your Code :</h3>
        <form [formGroup]="codeForm" (ngSubmit)="sendCode()">


            @if (errorMessage) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                Error : {{ errorMessage }}
                </div>
            }@else if (codeMessage == 'Reset code sent to your email') {
                <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                    {{codeMessage}}
                    </div>
            }

            <div>
                <label for="code">Code:</label>
                <input type="text" id="code" class="w-full rounded-lg border-gray-500 mt-2 mb-3" formControlName="resetCode" >
            </div>


            @if(codeForm.get('resetCode')?.errors && codeForm.get('resetCode')?.touched){
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                    @if (codeForm.get('resetCode')?.getError('required')) {
                        <p>ResetCode is requird </p>
                    }
                    
                    
                </div>

            }

            <button type="submit" [disabled]="codeForm.invalid" class="btn-main my-2">Verify
                @if (isLoading) {
                    <i class="fa fa-spin fa-spinner"></i>
                }
            </button>
        </form>
    
    </div>
}

@if (isResetForm) {
    <div class="w-3/4 mx-auto">

        <h3 class="text-main">Reset Your Password :</h3>
    
        <form [formGroup]="resetDataForm" (ngSubmit)="resetData()">
            
           
                @if(errorMessage) {
                <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                Error : {{ errorMessage }}
                </div>
             } @else if (statusMessage == 'Success') {
                <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
                    <p>{{statusMessage}} : Reset Your New Password </p>
                </div>
                
            } 
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email"  class="w-full rounded-lg border-gray-500 mt-2 mb-3" formControlName="email">

                @if(resetDataForm.get('email')?.errors && resetDataForm.get('email')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (resetDataForm.get('email')?.getError('required')) {
                            <p>Email is requird </p>
                        }@else if (resetDataForm.get('email')?.getError('email')) {
                            <p>Email is invalid </p>
                        }
                        
                        
                    </div>
    
                }

            </div>
            
            <div>
                <label for="password">Password:</label>
                
                <div class="input-container">
                <input #pass type="password" id="password"  class="w-full rounded-lg border-gray-500 mt-2 mb-3" formControlName="newPassword" >
                <i class="fa-regular fa-eye" [class.hidden]="show" (click)="(pass.type='text') ; show=true"></i>
                <i class="fa-solid fa-eye-slash " [class.hidden]="!show" (click)="(pass.type='password'); show=false"></i>
                </div>
             
                @if(resetDataForm.get('newPassword')?.errors && resetDataForm.get('newPassword')?.touched){
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        @if (resetDataForm.get('newPassword')?.getError('required')) {
                            <p>newPassword is requird </p>
                        }@else if (resetDataForm.get('newPassword')?.getError('pattern')) {
                            <p>newPassword is invalid </p>
                        }
                        
                        
                    </div>
    
                }
                
            
            </div>
    
        

            <button type="submit" [disabled]="resetDataForm.invalid"  class="btn-main my-2">Submit
                @if (isLoading) {
                    <i class="fa fa-spin fa-spinner"></i>
                }
            </button>
        </form>
    
    </div>
    
}